<h1>Books#create</h1>
<p>Find me in app/views/books/create.html.erb</p>

<%= form_for @book do |f| %>

<%= f.label :title %>
<%= f.text_field :title %>

<%= f.label :release_date %>
<%= f.text_field :release_date %>

<%= f.label :base_price %>
<%= f.text_field :base_price %>

<%= f.label :author %>
<%= select_tag :authors_ids, options_for_select(Author.all.collect { |author| [author.full_name, author.id] }), {:multiple=>true} %>

<%= f.label :format %>
<%= f.select :format_id, options_for_select(Format.all.collect { |fmt| [fmt.name, fmt.id] })  %>

<%= f.submit "Create Book" %>

<% end %>
